/* line 1, ../sass/homepage.scss */
/* line 2, ../sass/homepage.scss */
/* line 3, ../sass/homepage.scss */
/* line 4, ../sass/homepage.scss */
/* line 5, ../sass/homepage.scss */
/* line 6, ../sass/homepage.scss */
/* line 7, ../sass/homepage.scss */
/* line 8, ../sass/homepage.scss */
/* line 9, ../sass/homepage.scss */
/* line 10, ../sass/homepage.scss */
/* line 11, ../sass/homepage.scss */
/* line 12, ../sass/homepage.scss */
/* line 13, ../sass/homepage.scss */
/* line 14, ../sass/homepage.scss */
/* line 15, ../sass/homepage.scss */
/* line 16, ../sass/homepage.scss */
/* line 17, ../sass/homepage.scss */
/* line 18, ../sass/homepage.scss */
/* line 19, ../sass/homepage.scss */
/* line 20, ../sass/homepage.scss */
/* line 21, ../sass/homepage.scss */
/* line 22, ../sass/homepage.scss */
/* line 23, ../sass/homepage.scss */
header, footer {
  color: #A5C956;
  width: 100%;
}

/* line 1, ../sass/homepage.scss */
/* line 5, ../sass/homepage.scss */
/* line 7, ../sass/homepage.scss */
/* line 9, ../sass/homepage.scss */
/* line 11, ../sass/homepage.scss */
/* line 13, ../sass/homepage.scss */
/* line 15, ../sass/homepage.scss */
/* line 17, ../sass/homepage.scss */
/* line 19, ../sass/homepage.scss */
/* line 21, ../sass/homepage.scss */
/* line 23, ../sass/homepage.scss */
/* line 25, ../sass/homepage.scss */
/* line 27, ../sass/homepage.scss */
/* line 29, ../sass/homepage.scss */
/* line 31, ../sass/homepage.scss */
/* line 33, ../sass/homepage.scss */
/* line 35, ../sass/homepage.scss */
/* line 37, ../sass/homepage.scss */
/* line 39, ../sass/homepage.scss */
/* line 44, ../sass/homepage.scss */
/* line 46, ../sass/homepage.scss */
/* line 48, ../sass/homepage.scss */
/* line 50, ../sass/homepage.scss */
header div, footer div {
  background: #7d7e7d;
  background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7d7e7d), color-stop(100%, #0e0e0e));
  background: -webkit-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  background: -o-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  background: -ms-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  background: linear-gradient(to bottom, #7d7e7d 0%, #0e0e0e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
  position: relative;
}

/* line 1, ../sass/homepage.scss */
/* line 8, ../sass/homepage.scss */
/* line 11, ../sass/homepage.scss */
/* line 14, ../sass/homepage.scss */
/* line 17, ../sass/homepage.scss */
/* line 20, ../sass/homepage.scss */
/* line 23, ../sass/homepage.scss */
/* line 26, ../sass/homepage.scss */
/* line 29, ../sass/homepage.scss */
/* line 32, ../sass/homepage.scss */
/* line 35, ../sass/homepage.scss */
/* line 38, ../sass/homepage.scss */
/* line 41, ../sass/homepage.scss */
/* line 44, ../sass/homepage.scss */
/* line 47, ../sass/homepage.scss */
/* line 50, ../sass/homepage.scss */
/* line 53, ../sass/homepage.scss */
/* line 56, ../sass/homepage.scss */
/* line 59, ../sass/homepage.scss */
/* line 75, ../sass/homepage.scss */
/* line 78, ../sass/homepage.scss */
/* line 81, ../sass/homepage.scss */
/* line 84, ../sass/homepage.scss */
header #header-title, footer #footer-title {
  font-size: 1.5em;
  padding: 15px;
}

/* line 1, ../sass/homepage.scss */
/* line 11, ../sass/homepage.scss */
/* line 15, ../sass/homepage.scss */
/* line 19, ../sass/homepage.scss */
/* line 23, ../sass/homepage.scss */
/* line 27, ../sass/homepage.scss */
/* line 31, ../sass/homepage.scss */
/* line 35, ../sass/homepage.scss */
/* line 39, ../sass/homepage.scss */
/* line 43, ../sass/homepage.scss */
/* line 47, ../sass/homepage.scss */
/* line 51, ../sass/homepage.scss */
/* line 55, ../sass/homepage.scss */
/* line 59, ../sass/homepage.scss */
/* line 63, ../sass/homepage.scss */
/* line 67, ../sass/homepage.scss */
/* line 71, ../sass/homepage.scss */
/* line 75, ../sass/homepage.scss */
/* line 79, ../sass/homepage.scss */
/* line 99, ../sass/homepage.scss */
/* line 103, ../sass/homepage.scss */
/* line 107, ../sass/homepage.scss */
/* line 111, ../sass/homepage.scss */
header {
  position: fixed;
  top: 0px;
  padding: 10px 10px;
}

/* line 1, ../sass/homepage.scss */
/* line 14, ../sass/homepage.scss */
/* line 19, ../sass/homepage.scss */
/* line 24, ../sass/homepage.scss */
/* line 29, ../sass/homepage.scss */
/* line 34, ../sass/homepage.scss */
/* line 39, ../sass/homepage.scss */
/* line 44, ../sass/homepage.scss */
/* line 49, ../sass/homepage.scss */
/* line 54, ../sass/homepage.scss */
/* line 59, ../sass/homepage.scss */
/* line 64, ../sass/homepage.scss */
/* line 69, ../sass/homepage.scss */
/* line 74, ../sass/homepage.scss */
/* line 79, ../sass/homepage.scss */
/* line 84, ../sass/homepage.scss */
/* line 89, ../sass/homepage.scss */
/* line 94, ../sass/homepage.scss */
/* line 99, ../sass/homepage.scss */
/* line 124, ../sass/homepage.scss */
/* line 129, ../sass/homepage.scss */
/* line 134, ../sass/homepage.scss */
/* line 139, ../sass/homepage.scss */
header div {
  height: 50px;
  min-width: 300px;
}

/* line 36, ../sass/homepage.scss */
/* line 41, ../sass/homepage.scss */
/* line 48, ../sass/homepage.scss */
/* line 54, ../sass/homepage.scss */
/* line 60, ../sass/homepage.scss */
/* line 66, ../sass/homepage.scss */
/* line 72, ../sass/homepage.scss */
/* line 78, ../sass/homepage.scss */
/* line 84, ../sass/homepage.scss */
/* line 90, ../sass/homepage.scss */
/* line 96, ../sass/homepage.scss */
/* line 102, ../sass/homepage.scss */
/* line 108, ../sass/homepage.scss */
/* line 114, ../sass/homepage.scss */
/* line 143, ../sass/homepage.scss */
/* line 149, ../sass/homepage.scss */
/* line 155, ../sass/homepage.scss */
/* line 161, ../sass/homepage.scss */
header div h1 {
  padding: 16px 0;
  text-align: center;
  font-size: 1.25em;
  color: #fff;
  display: none;
}

/* line 1, ../sass/homepage.scss */
/* line 17, ../sass/homepage.scss */
/* line 23, ../sass/homepage.scss */
/* line 29, ../sass/homepage.scss */
/* line 35, ../sass/homepage.scss */
/* line 50, ../sass/homepage.scss */
/* line 49, ../sass/homepage.scss */
/* line 57, ../sass/homepage.scss */
/* line 64, ../sass/homepage.scss */
/* line 71, ../sass/homepage.scss */
/* line 78, ../sass/homepage.scss */
/* line 85, ../sass/homepage.scss */
/* line 92, ../sass/homepage.scss */
/* line 99, ../sass/homepage.scss */
/* line 106, ../sass/homepage.scss */
/* line 113, ../sass/homepage.scss */
/* line 120, ../sass/homepage.scss */
/* line 127, ../sass/homepage.scss */
/* line 134, ../sass/homepage.scss */
/* line 170, ../sass/homepage.scss */
/* line 177, ../sass/homepage.scss */
/* line 184, ../sass/homepage.scss */
/* line 191, ../sass/homepage.scss */
div#side-nav-box {
  display: none;
}

/* line 135, ../sass/homepage.scss */
/* line 175, ../sass/homepage.scss */
/* line 183, ../sass/homepage.scss */
/* line 191, ../sass/homepage.scss */
/* line 199, ../sass/homepage.scss */
header ul#top-nav {
  text-align: center;
}

@media screen and (max-width: 640px) {
  /* line 52, ../sass/homepage.scss */
  /* line 139, ../sass/homepage.scss */
  /* line 182, ../sass/homepage.scss */
  /* line 191, ../sass/homepage.scss */
  /* line 200, ../sass/homepage.scss */
  /* line 209, ../sass/homepage.scss */
  header ul#top-nav {
    display: none;
  }

  /* line 141, ../sass/homepage.scss */
  /* line 187, ../sass/homepage.scss */
  /* line 197, ../sass/homepage.scss */
  /* line 207, ../sass/homepage.scss */
  /* line 217, ../sass/homepage.scss */
  header div h1, div#side-nav-box {
    display: block;
  }

  /* line 143, ../sass/homepage.scss */
  /* line 192, ../sass/homepage.scss */
  /* line 203, ../sass/homepage.scss */
  /* line 214, ../sass/homepage.scss */
  /* line 225, ../sass/homepage.scss */
  div#side-nav-box ul {
    list-style: none;
    width: 70%;
    float: left;
  }

  /* line 145, ../sass/homepage.scss */
  /* line 199, ../sass/homepage.scss */
  /* line 211, ../sass/homepage.scss */
  /* line 223, ../sass/homepage.scss */
  /* line 235, ../sass/homepage.scss */
  div#side-nav-box ul, div#side-nav-box div#toggle-btn {
    background: #7D7E7D;
    background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7d7e7d), color-stop(100%, #0e0e0e));
    background: -webkit-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
    background: -o-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
    background: -ms-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
    background: linear-gradient(to bottom, #7d7e7d 0%, #0e0e0e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
  }

  /* line 147, ../sass/homepage.scss */
  /* line 211, ../sass/homepage.scss */
  /* line 224, ../sass/homepage.scss */
  /* line 237, ../sass/homepage.scss */
  /* line 250, ../sass/homepage.scss */
  div#side-nav-box {
    position: fixed;
    z-index: 100000;
    right: 0;
    bottom: 45%;
    width: 70px;
  }

  /* line 149, ../sass/homepage.scss */
  /* line 220, ../sass/homepage.scss */
  /* line 234, ../sass/homepage.scss */
  /* line 248, ../sass/homepage.scss */
  /* line 262, ../sass/homepage.scss */
  div.right-nav-close {
    right: -50px !important;
  }

  /* line 151, ../sass/homepage.scss */
  /* line 225, ../sass/homepage.scss */
  /* line 240, ../sass/homepage.scss */
  /* line 255, ../sass/homepage.scss */
  /* line 270, ../sass/homepage.scss */
  div#side-nav-box #toggle-btn {
    color: #EEE;
    font-size: 1em;
    padding: 38px 0 0 5px;
    height: 98px;
    width: 30%;
    float: left;
    border-radius: 40px 0 0 40px;
  }

  /* line 153, ../sass/homepage.scss */
  /* line 236, ../sass/homepage.scss */
  /* line 252, ../sass/homepage.scss */
  /* line 268, ../sass/homepage.scss */
  /* line 284, ../sass/homepage.scss */
  #side-nav li {
    text-align: center;
  }

  /* line 155, ../sass/homepage.scss */
  /* line 241, ../sass/homepage.scss */
  /* line 258, ../sass/homepage.scss */
  /* line 275, ../sass/homepage.scss */
  /* line 292, ../sass/homepage.scss */
  #side-nav li:nth-child(2) {
    border-top: 1px solid #767676;
    border-bottom: 1px solid #767676;
  }

  /* line 157, ../sass/homepage.scss */
  /* line 247, ../sass/homepage.scss */
  /* line 265, ../sass/homepage.scss */
  /* line 283, ../sass/homepage.scss */
  /* line 301, ../sass/homepage.scss */
  #side-nav li a {
    font-size: 0.75em;
    color: #ddd;
    width: 50px;
    display: inline-block;
    padding: 5px 5px;
    margin: 2px 0;
    cursor: pointer;
  }
}
/* line 160, ../sass/homepage.scss */
/* line 258, ../sass/homepage.scss */
/* line 277, ../sass/homepage.scss */
/* line 296, ../sass/homepage.scss */
/* line 315, ../sass/homepage.scss */
header ul#top-nav li {
  text-align: center;
  display: inline-block;
}

/* line 163, ../sass/homepage.scss */
/* line 264, ../sass/homepage.scss */
/* line 284, ../sass/homepage.scss */
/* line 304, ../sass/homepage.scss */
/* line 324, ../sass/homepage.scss */
header ul#top-nav li a {
  color: #bbb;
  display: inline-block;
  padding: 16px 10px;
  margin: 0 5px;
  font-weight: bold;
  cursor: pointer;
}

/* line 1, ../sass/homepage.scss */
/* line 26, ../sass/homepage.scss */
/* line 37, ../sass/homepage.scss */
/* line 44, ../sass/homepage.scss */
/* line 53, ../sass/homepage.scss */
/* line 91, ../sass/homepage.scss */
/* line 83, ../sass/homepage.scss */
/* line 100, ../sass/homepage.scss */
/* line 116, ../sass/homepage.scss */
/* line 130, ../sass/homepage.scss */
/* line 146, ../sass/homepage.scss */
/* line 162, ../sass/homepage.scss */
/* line 180, ../sass/homepage.scss */
/* line 197, ../sass/homepage.scss */
/* line 229, ../sass/homepage.scss */
/* line 239, ../sass/homepage.scss */
/* line 254, ../sass/homepage.scss */
/* line 276, ../sass/homepage.scss */
/* line 183, ../sass/homepage.scss */
/* line 292, ../sass/homepage.scss */
/* line 313, ../sass/homepage.scss */
/* line 334, ../sass/homepage.scss */
/* line 355, ../sass/homepage.scss */
footer div {
  overflow: hidden;
  padding: 10px;
}

/* line 295, ../sass/homepage.scss */
/* line 318, ../sass/homepage.scss */
/* line 341, ../sass/homepage.scss */
/* line 363, ../sass/homepage.scss */
footer div ul.social-media-btn {
  float: right;
  list-style: none;
}

/* line 297, ../sass/homepage.scss */
/* line 323, ../sass/homepage.scss */
/* line 348, ../sass/homepage.scss */
/* line 371, ../sass/homepage.scss */
footer div ul.social-media-btn li {
  float: left;
}

/* line 1, ../sass/homepage.scss */
/* line 29, ../sass/homepage.scss */
/* line 41, ../sass/homepage.scss */
/* line 49, ../sass/homepage.scss */
/* line 59, ../sass/homepage.scss */
/* line 98, ../sass/homepage.scss */
/* line 91, ../sass/homepage.scss */
/* line 109, ../sass/homepage.scss */
/* line 126, ../sass/homepage.scss */
/* line 141, ../sass/homepage.scss */
/* line 158, ../sass/homepage.scss */
/* line 175, ../sass/homepage.scss */
/* line 194, ../sass/homepage.scss */
/* line 212, ../sass/homepage.scss */
/* line 245, ../sass/homepage.scss */
/* line 256, ../sass/homepage.scss */
/* line 272, ../sass/homepage.scss */
/* line 295, ../sass/homepage.scss */
/* line 203, ../sass/homepage.scss */
/* line 322, ../sass/homepage.scss */
/* line 347, ../sass/homepage.scss */
/* line 373, ../sass/homepage.scss */
/* line 397, ../sass/homepage.scss */
section {
  background: #cdeb8e;
  background: -moz-linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cdeb8e), color-stop(100%, #a5c956));
  background: -webkit-linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
  background: -o-linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
  background: -ms-linear-gradient(top, #cdeb8e 0%, #a5c956 100%);
  background: linear-gradient(to bottom, #cdeb8e 0%, #a5c956 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 );
  width: 100%;
  margin: 0 auto;
  padding: 80px 0 30px;
  background-color: white;
  font-size: 1em;
  overflow: hidden;
}

/* line 1, ../sass/homepage.scss */
/* line 32, ../sass/homepage.scss */
/* line 45, ../sass/homepage.scss */
/* line 54, ../sass/homepage.scss */
/* line 65, ../sass/homepage.scss */
/* line 105, ../sass/homepage.scss */
/* line 99, ../sass/homepage.scss */
/* line 118, ../sass/homepage.scss */
/* line 136, ../sass/homepage.scss */
/* line 152, ../sass/homepage.scss */
/* line 170, ../sass/homepage.scss */
/* line 188, ../sass/homepage.scss */
/* line 208, ../sass/homepage.scss */
/* line 227, ../sass/homepage.scss */
/* line 261, ../sass/homepage.scss */
/* line 273, ../sass/homepage.scss */
/* line 290, ../sass/homepage.scss */
/* line 314, ../sass/homepage.scss */
/* line 223, ../sass/homepage.scss */
/* line 358, ../sass/homepage.scss */
/* line 384, ../sass/homepage.scss */
/* line 411, ../sass/homepage.scss */
/* line 436, ../sass/homepage.scss */
section .main-content {
  padding: 0 15px 20px;
  margin: 0 auto;
  width: 80%;
  min-width: 320px;
  overflow: hidden;
  border-top: 0;
  color: #666;
}

/* line 1, ../sass/homepage.scss */
/* line 35, ../sass/homepage.scss */
/* line 49, ../sass/homepage.scss */
/* line 59, ../sass/homepage.scss */
/* line 71, ../sass/homepage.scss */
/* line 112, ../sass/homepage.scss */
/* line 107, ../sass/homepage.scss */
/* line 127, ../sass/homepage.scss */
/* line 146, ../sass/homepage.scss */
/* line 163, ../sass/homepage.scss */
/* line 182, ../sass/homepage.scss */
/* line 201, ../sass/homepage.scss */
/* line 222, ../sass/homepage.scss */
/* line 242, ../sass/homepage.scss */
/* line 277, ../sass/homepage.scss */
/* line 290, ../sass/homepage.scss */
/* line 308, ../sass/homepage.scss */
/* line 333, ../sass/homepage.scss */
/* line 243, ../sass/homepage.scss */
/* line 387, ../sass/homepage.scss */
/* line 414, ../sass/homepage.scss */
/* line 442, ../sass/homepage.scss */
/* line 468, ../sass/homepage.scss */
section .main-content h3 {
  margin: 5px 0;
  padding: 5px 0 0;
  border-bottom: 1px solid #E2E2E2;
  font-size: 0.85em;
}

/* line 1, ../sass/homepage.scss */
/* line 38, ../sass/homepage.scss */
/* line 53, ../sass/homepage.scss */
/* line 64, ../sass/homepage.scss */
/* line 77, ../sass/homepage.scss */
/* line 119, ../sass/homepage.scss */
/* line 115, ../sass/homepage.scss */
/* line 136, ../sass/homepage.scss */
/* line 156, ../sass/homepage.scss */
/* line 174, ../sass/homepage.scss */
/* line 194, ../sass/homepage.scss */
/* line 214, ../sass/homepage.scss */
/* line 236, ../sass/homepage.scss */
/* line 257, ../sass/homepage.scss */
/* line 293, ../sass/homepage.scss */
/* line 307, ../sass/homepage.scss */
/* line 326, ../sass/homepage.scss */
/* line 352, ../sass/homepage.scss */
/* line 263, ../sass/homepage.scss */
/* line 413, ../sass/homepage.scss */
/* line 441, ../sass/homepage.scss */
/* line 470, ../sass/homepage.scss */
/* line 497, ../sass/homepage.scss */
section .main-content span {
  font-size: 0.85em;
}

/* line 1, ../sass/homepage.scss */
/* line 41, ../sass/homepage.scss */
/* line 57, ../sass/homepage.scss */
/* line 69, ../sass/homepage.scss */
/* line 83, ../sass/homepage.scss */
/* line 126, ../sass/homepage.scss */
/* line 123, ../sass/homepage.scss */
/* line 145, ../sass/homepage.scss */
/* line 166, ../sass/homepage.scss */
/* line 185, ../sass/homepage.scss */
/* line 206, ../sass/homepage.scss */
/* line 227, ../sass/homepage.scss */
/* line 250, ../sass/homepage.scss */
/* line 272, ../sass/homepage.scss */
/* line 309, ../sass/homepage.scss */
/* line 324, ../sass/homepage.scss */
/* line 344, ../sass/homepage.scss */
/* line 371, ../sass/homepage.scss */
/* line 283, ../sass/homepage.scss */
/* line 436, ../sass/homepage.scss */
/* line 465, ../sass/homepage.scss */
/* line 495, ../sass/homepage.scss */
/* line 523, ../sass/homepage.scss */
section .main-content h2 {
  padding: 10px 0 0;
}

/* line 1, ../sass/homepage.scss */
/* line 44, ../sass/homepage.scss */
/* line 61, ../sass/homepage.scss */
/* line 74, ../sass/homepage.scss */
/* line 89, ../sass/homepage.scss */
/* line 133, ../sass/homepage.scss */
/* line 131, ../sass/homepage.scss */
/* line 154, ../sass/homepage.scss */
/* line 176, ../sass/homepage.scss */
/* line 196, ../sass/homepage.scss */
/* line 218, ../sass/homepage.scss */
/* line 240, ../sass/homepage.scss */
/* line 264, ../sass/homepage.scss */
/* line 287, ../sass/homepage.scss */
/* line 325, ../sass/homepage.scss */
/* line 341, ../sass/homepage.scss */
/* line 362, ../sass/homepage.scss */
/* line 390, ../sass/homepage.scss */
/* line 303, ../sass/homepage.scss */
/* line 459, ../sass/homepage.scss */
/* line 489, ../sass/homepage.scss */
/* line 520, ../sass/homepage.scss */
/* line 549, ../sass/homepage.scss */
section .main-content em.highlight {
  font-weight: bold;
}

/* line 1, ../sass/homepage.scss */
/* line 47, ../sass/homepage.scss */
/* line 65, ../sass/homepage.scss */
/* line 79, ../sass/homepage.scss */
/* line 95, ../sass/homepage.scss */
/* line 140, ../sass/homepage.scss */
/* line 139, ../sass/homepage.scss */
/* line 163, ../sass/homepage.scss */
/* line 186, ../sass/homepage.scss */
/* line 207, ../sass/homepage.scss */
/* line 230, ../sass/homepage.scss */
/* line 253, ../sass/homepage.scss */
/* line 278, ../sass/homepage.scss */
/* line 302, ../sass/homepage.scss */
/* line 341, ../sass/homepage.scss */
/* line 358, ../sass/homepage.scss */
/* line 380, ../sass/homepage.scss */
/* line 409, ../sass/homepage.scss */
/* line 323, ../sass/homepage.scss */
/* line 482, ../sass/homepage.scss */
/* line 513, ../sass/homepage.scss */
/* line 545, ../sass/homepage.scss */
/* line 575, ../sass/homepage.scss */
section .main-content .content-detail-section {
  background-color: white;
  margin: 0 0 15px;
  padding: 15px;
}
/* line 579, ../sass/homepage.scss */
section .main-content .content-detail-section form {
  padding: 0 5%;
}
/* line 581, ../sass/homepage.scss */
section .main-content .content-detail-section form .full-width-field {
  display: block;
  width: 100%;
}
/* line 585, ../sass/homepage.scss */
section .main-content .content-detail-section form textarea {
  height: 100px;
}

/* line 1, ../sass/homepage.scss */
/* line 50, ../sass/homepage.scss */
/* line 69, ../sass/homepage.scss */
/* line 84, ../sass/homepage.scss */
/* line 101, ../sass/homepage.scss */
/* line 147, ../sass/homepage.scss */
/* line 147, ../sass/homepage.scss */
/* line 172, ../sass/homepage.scss */
/* line 196, ../sass/homepage.scss */
/* line 218, ../sass/homepage.scss */
/* line 242, ../sass/homepage.scss */
/* line 266, ../sass/homepage.scss */
/* line 292, ../sass/homepage.scss */
/* line 317, ../sass/homepage.scss */
/* line 357, ../sass/homepage.scss */
/* line 375, ../sass/homepage.scss */
/* line 398, ../sass/homepage.scss */
/* line 428, ../sass/homepage.scss */
/* line 343, ../sass/homepage.scss */
/* line 507, ../sass/homepage.scss */
/* line 539, ../sass/homepage.scss */
/* line 572, ../sass/homepage.scss */
/* line 613, ../sass/homepage.scss */
section .main-content .content-detail-section ul {
  margin-left: 20px;
  margin-bottom: 30px;
}

/* line 1, ../sass/homepage.scss */
/* line 53, ../sass/homepage.scss */
/* line 73, ../sass/homepage.scss */
/* line 89, ../sass/homepage.scss */
/* line 107, ../sass/homepage.scss */
/* line 154, ../sass/homepage.scss */
/* line 155, ../sass/homepage.scss */
/* line 181, ../sass/homepage.scss */
/* line 206, ../sass/homepage.scss */
/* line 229, ../sass/homepage.scss */
/* line 254, ../sass/homepage.scss */
/* line 279, ../sass/homepage.scss */
/* line 306, ../sass/homepage.scss */
/* line 332, ../sass/homepage.scss */
/* line 373, ../sass/homepage.scss */
/* line 392, ../sass/homepage.scss */
/* line 416, ../sass/homepage.scss */
/* line 447, ../sass/homepage.scss */
/* line 363, ../sass/homepage.scss */
/* line 531, ../sass/homepage.scss */
/* line 564, ../sass/homepage.scss */
/* line 598, ../sass/homepage.scss */
/* line 640, ../sass/homepage.scss */
section .main-content .content-detail-section ul li {
  margin: 0 0 10px;
  font-size: 0.85em;
}

/* line 1, ../sass/homepage.scss */
/* line 56, ../sass/homepage.scss */
/* line 77, ../sass/homepage.scss */
/* line 94, ../sass/homepage.scss */
/* line 113, ../sass/homepage.scss */
/* line 161, ../sass/homepage.scss */
/* line 163, ../sass/homepage.scss */
/* line 190, ../sass/homepage.scss */
/* line 216, ../sass/homepage.scss */
/* line 240, ../sass/homepage.scss */
/* line 266, ../sass/homepage.scss */
/* line 292, ../sass/homepage.scss */
/* line 320, ../sass/homepage.scss */
/* line 347, ../sass/homepage.scss */
/* line 389, ../sass/homepage.scss */
/* line 409, ../sass/homepage.scss */
/* line 434, ../sass/homepage.scss */
/* line 466, ../sass/homepage.scss */
/* line 383, ../sass/homepage.scss */
/* line 555, ../sass/homepage.scss */
/* line 589, ../sass/homepage.scss */
/* line 624, ../sass/homepage.scss */
/* line 667, ../sass/homepage.scss */
section .main-content .content-detail-section h1, section .main-content .content-detail-section p {
  padding: 5px 0 5px;
}

/* line 1, ../sass/homepage.scss */
/* line 59, ../sass/homepage.scss */
/* line 81, ../sass/homepage.scss */
/* line 99, ../sass/homepage.scss */
/* line 119, ../sass/homepage.scss */
/* line 168, ../sass/homepage.scss */
/* line 171, ../sass/homepage.scss */
/* line 199, ../sass/homepage.scss */
/* line 226, ../sass/homepage.scss */
/* line 251, ../sass/homepage.scss */
/* line 278, ../sass/homepage.scss */
/* line 305, ../sass/homepage.scss */
/* line 334, ../sass/homepage.scss */
/* line 362, ../sass/homepage.scss */
/* line 405, ../sass/homepage.scss */
/* line 426, ../sass/homepage.scss */
/* line 452, ../sass/homepage.scss */
/* line 485, ../sass/homepage.scss */
/* line 403, ../sass/homepage.scss */
/* line 578, ../sass/homepage.scss */
/* line 613, ../sass/homepage.scss */
/* line 649, ../sass/homepage.scss */
/* line 693, ../sass/homepage.scss */
section .main-content .content-detail-section h1 {
  font-size: 2.0em;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 3px solid #dae4e6;
  line-height: 25px;
}

/* line 1, ../sass/homepage.scss */
/* line 62, ../sass/homepage.scss */
/* line 85, ../sass/homepage.scss */
/* line 104, ../sass/homepage.scss */
/* line 125, ../sass/homepage.scss */
/* line 175, ../sass/homepage.scss */
/* line 179, ../sass/homepage.scss */
/* line 208, ../sass/homepage.scss */
/* line 236, ../sass/homepage.scss */
/* line 262, ../sass/homepage.scss */
/* line 290, ../sass/homepage.scss */
/* line 318, ../sass/homepage.scss */
/* line 348, ../sass/homepage.scss */
/* line 377, ../sass/homepage.scss */
/* line 421, ../sass/homepage.scss */
/* line 443, ../sass/homepage.scss */
/* line 470, ../sass/homepage.scss */
/* line 504, ../sass/homepage.scss */
/* line 423, ../sass/homepage.scss */
/* line 604, ../sass/homepage.scss */
/* line 640, ../sass/homepage.scss */
/* line 677, ../sass/homepage.scss */
/* line 723, ../sass/homepage.scss */
.drop-shadow {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

/* line 1, ../sass/homepage.scss */
/* line 65, ../sass/homepage.scss */
/* line 89, ../sass/homepage.scss */
/* line 109, ../sass/homepage.scss */
/* line 131, ../sass/homepage.scss */
/* line 182, ../sass/homepage.scss */
/* line 187, ../sass/homepage.scss */
/* line 217, ../sass/homepage.scss */
/* line 246, ../sass/homepage.scss */
/* line 273, ../sass/homepage.scss */
/* line 302, ../sass/homepage.scss */
/* line 331, ../sass/homepage.scss */
/* line 362, ../sass/homepage.scss */
/* line 392, ../sass/homepage.scss */
/* line 437, ../sass/homepage.scss */
/* line 460, ../sass/homepage.scss */
/* line 488, ../sass/homepage.scss */
/* line 523, ../sass/homepage.scss */
/* line 443, ../sass/homepage.scss */
/* line 629, ../sass/homepage.scss */
/* line 666, ../sass/homepage.scss */
/* line 704, ../sass/homepage.scss */
/* line 751, ../sass/homepage.scss */
.drop-shadow:before, .drop-shadow:after {
  content: "";
  position: absolute;
  z-index: -2;
}

/* line 1, ../sass/homepage.scss */
/* line 68, ../sass/homepage.scss */
/* line 93, ../sass/homepage.scss */
/* line 114, ../sass/homepage.scss */
/* line 137, ../sass/homepage.scss */
/* line 189, ../sass/homepage.scss */
/* line 195, ../sass/homepage.scss */
/* line 226, ../sass/homepage.scss */
/* line 256, ../sass/homepage.scss */
/* line 284, ../sass/homepage.scss */
/* line 314, ../sass/homepage.scss */
/* line 344, ../sass/homepage.scss */
/* line 376, ../sass/homepage.scss */
/* line 407, ../sass/homepage.scss */
/* line 453, ../sass/homepage.scss */
/* line 477, ../sass/homepage.scss */
/* line 506, ../sass/homepage.scss */
/* line 542, ../sass/homepage.scss */
/* line 463, ../sass/homepage.scss */
/* line 654, ../sass/homepage.scss */
/* line 692, ../sass/homepage.scss */
/* line 731, ../sass/homepage.scss */
/* line 779, ../sass/homepage.scss */
.raised {
  -webkit-box-shadow: 0 25px 15px -15px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 25px 15px -15px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 25px 15px -15px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

/* line 1, ../sass/homepage.scss */
/* line 71, ../sass/homepage.scss */
/* line 97, ../sass/homepage.scss */
/* line 119, ../sass/homepage.scss */
/* line 143, ../sass/homepage.scss */
/* line 196, ../sass/homepage.scss */
/* line 203, ../sass/homepage.scss */
/* line 235, ../sass/homepage.scss */
/* line 266, ../sass/homepage.scss */
/* line 295, ../sass/homepage.scss */
/* line 326, ../sass/homepage.scss */
/* line 357, ../sass/homepage.scss */
/* line 390, ../sass/homepage.scss */
/* line 422, ../sass/homepage.scss */
/* line 469, ../sass/homepage.scss */
/* line 494, ../sass/homepage.scss */
/* line 524, ../sass/homepage.scss */
/* line 561, ../sass/homepage.scss */
/* line 483, ../sass/homepage.scss */
/* line 679, ../sass/homepage.scss */
/* line 718, ../sass/homepage.scss */
/* line 758, ../sass/homepage.scss */
/* line 807, ../sass/homepage.scss */
.curled {
  border: 1px solid #efefef;
  -moz-border-radius: 0 0 120px 120px/0 0 6px 6px;
  border-radius: 0 0 120px 120px/0 0 6px 6px;
}

/* line 1, ../sass/homepage.scss */
/* line 74, ../sass/homepage.scss */
/* line 101, ../sass/homepage.scss */
/* line 124, ../sass/homepage.scss */
/* line 149, ../sass/homepage.scss */
/* line 203, ../sass/homepage.scss */
/* line 211, ../sass/homepage.scss */
/* line 244, ../sass/homepage.scss */
/* line 276, ../sass/homepage.scss */
/* line 306, ../sass/homepage.scss */
/* line 338, ../sass/homepage.scss */
/* line 370, ../sass/homepage.scss */
/* line 404, ../sass/homepage.scss */
/* line 437, ../sass/homepage.scss */
/* line 485, ../sass/homepage.scss */
/* line 511, ../sass/homepage.scss */
/* line 542, ../sass/homepage.scss */
/* line 580, ../sass/homepage.scss */
/* line 503, ../sass/homepage.scss */
/* line 704, ../sass/homepage.scss */
/* line 744, ../sass/homepage.scss */
/* line 785, ../sass/homepage.scss */
/* line 835, ../sass/homepage.scss */
.curled:before, .curled:after {
  bottom: 12px;
  left: 10px;
  width: 50%;
  height: 55%;
  max-width: 200px;
  max-height: 100px;
  -webkit-box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
  -webkit-transform: skew(-8deg) rotate(-3deg);
  -moz-transform: skew(-8deg) rotate(-3deg);
  -ms-transform: skew(-8deg) rotate(-3deg);
  -o-transform: skew(-8deg) rotate(-3deg);
  transform: skew(-8deg) rotate(-3deg);
}

/* line 1, ../sass/homepage.scss */
/* line 77, ../sass/homepage.scss */
/* line 105, ../sass/homepage.scss */
/* line 129, ../sass/homepage.scss */
/* line 155, ../sass/homepage.scss */
/* line 210, ../sass/homepage.scss */
/* line 219, ../sass/homepage.scss */
/* line 253, ../sass/homepage.scss */
/* line 286, ../sass/homepage.scss */
/* line 317, ../sass/homepage.scss */
/* line 350, ../sass/homepage.scss */
/* line 383, ../sass/homepage.scss */
/* line 418, ../sass/homepage.scss */
/* line 452, ../sass/homepage.scss */
/* line 501, ../sass/homepage.scss */
/* line 528, ../sass/homepage.scss */
/* line 560, ../sass/homepage.scss */
/* line 599, ../sass/homepage.scss */
/* line 523, ../sass/homepage.scss */
/* line 740, ../sass/homepage.scss */
/* line 781, ../sass/homepage.scss */
/* line 823, ../sass/homepage.scss */
/* line 874, ../sass/homepage.scss */
.curled:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}

/* line 1, ../sass/homepage.scss */
/* line 80, ../sass/homepage.scss */
/* line 109, ../sass/homepage.scss */
/* line 134, ../sass/homepage.scss */
/* line 161, ../sass/homepage.scss */
/* line 217, ../sass/homepage.scss */
/* line 227, ../sass/homepage.scss */
/* line 262, ../sass/homepage.scss */
/* line 296, ../sass/homepage.scss */
/* line 328, ../sass/homepage.scss */
/* line 362, ../sass/homepage.scss */
/* line 396, ../sass/homepage.scss */
/* line 432, ../sass/homepage.scss */
/* line 467, ../sass/homepage.scss */
/* line 517, ../sass/homepage.scss */
/* line 545, ../sass/homepage.scss */
/* line 578, ../sass/homepage.scss */
/* line 618, ../sass/homepage.scss */
/* line 543, ../sass/homepage.scss */
/* line 769, ../sass/homepage.scss */
/* line 811, ../sass/homepage.scss */
/* line 854, ../sass/homepage.scss */
/* line 906, ../sass/homepage.scss */
.curved:before {
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
  -moz-border-radius: 10px/100px;
  border-radius: 10px/100px;
}

/* line 1, ../sass/homepage.scss */
/* line 83, ../sass/homepage.scss */
/* line 113, ../sass/homepage.scss */
/* line 139, ../sass/homepage.scss */
/* line 167, ../sass/homepage.scss */
/* line 224, ../sass/homepage.scss */
/* line 235, ../sass/homepage.scss */
/* line 271, ../sass/homepage.scss */
/* line 306, ../sass/homepage.scss */
/* line 339, ../sass/homepage.scss */
/* line 374, ../sass/homepage.scss */
/* line 409, ../sass/homepage.scss */
/* line 446, ../sass/homepage.scss */
/* line 482, ../sass/homepage.scss */
/* line 533, ../sass/homepage.scss */
/* line 562, ../sass/homepage.scss */
/* line 596, ../sass/homepage.scss */
/* line 637, ../sass/homepage.scss */
/* line 563, ../sass/homepage.scss */
/* line 800, ../sass/homepage.scss */
/* line 843, ../sass/homepage.scss */
/* line 887, ../sass/homepage.scss */
/* line 940, ../sass/homepage.scss */
.curved-hz-down:before {
  top: 50%;
  bottom: 0;
  left: 10px;
  right: 10px;
  -webkit-box-shadow: 5px 10px 0 rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
  -moz-border-radius: 100px/10px;
  border-radius: 100px/10px;
}
